head
  title Microscope
  script(src='//js.leapmotion.com/leap-0.6.0.js')
  script(src='//js.leapmotion.com/leap-plugins-0.1.6.js')
//-body
  .container
    header.navbar
      .navbar-inner
        a.brand(href='/') Microscope
    #main.row-fluid
      +postsList