template(name='notifications')
  a.dropdown-toggle(href='#', data-toggle='dropdown')
    | Notifications 
    if notificationCount
      span.badge.badge-inverse #{notificationCount}
    b.caret
  ul.notification.dropdown-menu
    if notificationCount
      each notifications
        +notification
    else
      li
        span No Notifications


template(name='notification')
  li
    a(href='#{notificationPostPath}')
      strong #{commenterName} 
      | commented on your post
