template(name='postSubmit')
  form.main
    .control-group
      label.control-label(for='url') URL
      .controls
        input(name='url', type='text', value='', placeholder='Your URL')
    .control-group
      label.control-label(for='title') Title
      .controls
        input(name='title', type='text', value='', placeholder='Name your post')
    .control-group
      label.control-label(for='message') Message
      .controls
        textarea(name='message', type='text', value='')
    .control-group
      .controls
        input.btn.btn-primary(type='submit', value='Submit')