template(name='commentSubmit')
  form.comment-form(name='comment')
    .control-group
      .controls
        label(for='body') Comment on this post
        textarea(name='body')
    .control-group
      .controls
        button.btn(type='submit') Add Comment